    <div ng-controller="splashController">

      <!-- TITLE TEXT -->
      <div class="row">
        <div class="col-12">
          <div class="title-text">
            <h1>story.u</h1>
          </div>
        </div>
      </div>

      <!-- LOGO IMAGE -->
      <div class="row">
        <div class="col-12">
          <img class="feather-square" src="/img/feather-square.png" />
        </div>
      </div>


      <!-- AUTHENTICATION SELECTOR                            -->
      <!-- User selects either login or signup for an account -->
      <div class="row">
        <div class="col-12">
          <div class="choice-wrapper">
                  <h3><a href="#" ng-click="loginSelect()">Login</a> or <a href="#" ng-click="signupSelect()">Signup</a></h3>
          </div>
        </div>
      </div>

    </div>
