<div ng-controller="navController">
  <header>
    <div class="row">
      <div class="col-1 nav-bar">
        <img class="feather-square-nav" src="/img/feather-square.png">
      </div>

      <div class="col-7 nav-bar">
        <p>Empty Space</p>
      </div>

      <div class="col-4 nav-bar">
        <nav>
          <ul>
            <li>
              <a href="#" ng-click="addnote()">
                <button>ADD</button>
              </a>
            </li>
            <li>
              <a href="#" ng-click="search()">
                <button>SEARCH</button>
              </a>
            </li>
            <li>
              <a href="#" ng-click="logout()">
                <button>LOGOUT</button>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>    
  </header>
</div>
