<!-- LOGIN BLOCK                        -->
<!-- Hidden until login link is clicked -->
<div class="splash-element-wrapper">
  <form name="loginForm" ng-controller="loginController" ng-submit="login(username, password)">
    <input class="splash-form" type="text" ng-model="username" name="username" placeholder="username" value="" required>
    <input class="splash-form" type="text" ng-model="password" name="password" placeholder="password" value="" required>
    <button class="splash-form" type="submit">Login</button>
  </form>
</div>
