<!-- NEW NOTE ENTRY PARTIAL                             -->
<!-- Visible when selected from header nav in user area -->
<div>
  <div class="row">
    <div class="col-12">
      <form class="note-form" name="newnote" ng-controller="navController" ng-submit="savenote(title, content)">
        <input type="text" class="user-form-element" ng-model="title" name="title" placeholder="Give this entry a title" value="" required>
        <textarea type="text" class="user-form-element" ng-model="content" name="content" placeholder="Tell your story..." value="" required></textarea>
        <button type="submit">Done</button>
      </form>
    </div>
  </div>
</div>
