<!-- SIGNUP BLOCK                            -->
<!-- Hidden until the signup link is clicked -->
<div class="splash-element-wrapper">
  <form name="signupForm" ng-controller="signupController" ng-submit="signup(firstname, lastname, email, username, password)">
    <input class="splash-form" type="text" ng-model="firstname" name="firstname" placeholder="First name" value="" required>
    <input class="splash-form" type="text" ng-model="lastname" name="lastname" placeholder="Last name" value="" required>
    <input class="splash-form" type="email" ng-model="email" name="email" placeholder="Email address" value="" required>
    <input class="splash-form" type="text" ng-model="username" name="username" placeholder="Choose a username" value="" required>
    <input class="splash-form" type="password" ng-model="password" name="password" placeholder="Choose a password" value="" required>
    <button class="splash-form" type="submit">Join</button>
  </form>
</div>
