<div ng-controller="navController" class="stories-wrapper">
  <div class="story-left">
    <h3>What's happening:</h3>
    <div class="stories">
      <div>
        <h4><strong>{{usernotes[0].title}}</strong></h4>
        <p>{{usernotes[0].content}}</p>
      </div>
    </div>
  </div>

  <div class="story-right">
    <h3>Notes:</h3>
    <div class="stories">
      <ul class="note-list">
        <li ng-repeat="usernote in usernotes">
          <div>
            <a href="#" ng-click="showfeature(usernote._id)">
              <div class="noteplate">
                <p><em>{{usernote.title}}</em></p>
              </div>
            </a>
          </div>
          <br>
        </li>
      </ul>
    </div>
  </div>
</div>
