<div class="container">
  <div class="row">
    <div class="col-6">
      <div>
        <h3>Here's where a full story panel will go.</h3>
      </div>
    </div>

    <div class="col-6">
      <div>
        <h3>Here's where the user's collection will be shown:</h3>
        <ul>
          <li>Entry Title - excerpt...</li>
          <li>Entry Title - excerpt...</li>
          <li>Entry Title - excerpt...</li>
          <li>Entry Title - excerpt...</li>
          <li>Entry Title - excerpt...</li>
          <li>Entry Title - excerpt...</li>
          <li>Entry Title - excerpt...</li>
          <li>Entry Title - excerpt...</li>
        </ul>
      </div>
    </div>
  </div>
</div>
